<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>GameKultur</title>
</head>

<body>
<h3><a href="/admin/menu">Administration Home Page</a></h3>
<p>Find me in app/views/admin/menu.html.erb</p>
<br />

<p>Administration</p>
<ul>
  <li><a href="/customers">Customers</a></li>
  <li><a href="/developers">Developers</a></li>
  <li><a href="/editions">Editions</a></li>
  <li><a href="/games">Games</a></li>
  <li><a href="/orders">Orders</a></li>
  <li><a href="/platforms">Platforms</a></li>
  <li><a href="/refresher/render_game_list">Refresher (Old Public for Debugging)</a></li>
  <li><a href="/public">Public View</a></li>
  <li><a href="/publishers">Publishers</a></li>
  <li><a href="/Users">Users</a> </li>
</ul>
</body>
</html>



